
/*

  Styles for Bellingham page

 */
 
@media all {

  .bellingham .default {
    margin-top:-10px;
  }

  .bellingham section.module:last-child {
    margin-bottom: 0;
  }

  .bellingham section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
  }

  .bellingham section.module p {
    font-size: 16px;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    -webkit-text-stroke: .2px;
    margin-bottom: 40px;
  }

  .bellingham section.module p:last-child {
    margin-bottom: 0;
  }

  .bellingham section.module.content {
    padding: 40px 60px;
  }

  .bellingham section.module.parallax {
    height: 500px;
    background-position: 50% 50%;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bellingham section.module.parallax h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 500px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .bellingham section.module.parallax .cta {
    text-align: center;
    margin-top:-150px;
  }

  .bellingham section.module.parallax .cta .cta-icon {
    display: inline-block;
    margin: 0 auto;
  }

  .bellingham section.parallax-0 {
    background-image: url("http://admissionsdev.wwu.edu/sites/admissionsdev.wwu.edu/files/sampleTest3.jpg");
	background-position: 50% 50%;
    width:100%;
	height:500px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat:no-repeat;
    display:none;
  }

  .bellingham section.module.parallax-1 {
    background-image: url("../images/bellingham/panel/urban.jpg");
  }
  
  .bellingham section.module.parallax-2 {
    background-image: url("../images/bellingham/panel/outdoors.jpg");
  }

  .bellingham section.module.parallax-3 {
    background-image: url("../images/bellingham/panel/community.jpg");
  }
  
}

@media all and (min-width: 600px) {
  .bellingham section.module h2 {
    font-size: 48px;
  }
  
  .bellingham section.module p {
    font-size: 20px;
  }
  
  .bellingham section.module.parallax h1 {
    font-size: 72px;
  }
  
}

@media all and (min-width:800px) { 

  .bellingham section.parallax-0 {
     display:block;
  }
  
}

@media all and (min-width: 960px) {

  .bellingham section.module.parallax h1 {
    font-size: 90px;
  }
  
}
