/**
 * @file
 * The main menu that sits on top of each page
 *
 */

/**
 * Screen size: Mobile device
 */

@media all {
  .front main {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    line-height: 1.5;
  }

  .front .page {
    width: 100%;
    max-width: 100%;
  }
  .center-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .large-number {
    color: #0083d6;
    font-size: 46px;
    font-weight: 300;
    margin: 0;
  }
  .no-mtop {
    margin-top: 0;
  }
  .quote-text {
    margin-top: -35px;
    padding-left: 40px;
    font-size: 1.25em;
    margin-left: 1em;
    font-size: 1.25em;
  }
  .blue-row {
    background-color: #0083d6;
  }
  .liteblue-small {
    font-size: 22px;
    color: #0083d6;
    font-weight: 200;
  }
  .darkblue-large {
    font-size:30px;
    color:#003f87;
    font-weight:200;
  }
  .bluebar {
    width: 100%;
    display: block;
  }

  .header-row {
    padding-top: 20px;
  }
  .front .western-logo {
    display: block;
  }
  .front .western-header .western-logo a {
    display: block;
    float: none;
    margin-bottom: 0;
  }
  .front .western-header nav {
    z-index: 1;
  }
  .video-container {
    width: 100%;
    z-index: -1;
  }
  .video-fluid-wrapper {
    position: relative;
    padding: 0;
    padding-top: 56%;
  }
  .video-fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .front .main-nav {
    padding: 0;
  }
  .frontpage-panel-wrapper {
    padding: 80px 60px;
    border-top: 12px solid #fff;
  }
  .frontpage-panel-wrapper:first-child {
    border: none;
  }
  .frontpage-panel-wrapper h2 {
    margin: 0;
    margin-bottom: 1em;
  }
  .frontpage-panel-wrapper h2 span {
    line-height: 1.5;
  }
  .frontpage-panel-wrapper h2 span:first-child {
    font-size: 20px;
  }
  .frontpage-panel-wrapper h2 span:last-child {
    font-size: 30px;
  }
  .panel-attention-wrapper {
    background: url("../images/front-page/GreyWaveBG.jpg");
    background-repeat: no-repeat;
    //background-size: cover;
    background-position: bottom;
    background-color: #E8E8E8;
  }
  .panel-attention {

    .header-row {
      padding: 0;
    }
    h2 span:first-child {
      color:#003f87;
    }
    h2 span:last-child {
      color:#0083d6;
    }
    .quote-italic {
      font-style: italic;
    }
  }
  .panel-value-wrapper {
    background-color: #0083D6;
  }
  .panel-value {

    .column-wrapper {
      margin-top: 2em;
    }
    h2 span:first-child {
      color: #FFF;
    }
    h2 span:last-child {
      color: #002550;
    }
    .white-text-row {
      color: #FFF;
      text-align: center;
    }
    .blue-text-row {
      color: #003F87;
      font-style: italic;
      font-size: 12px;
      text-align: center;
    }
    .left-column,
    .center-column,
    .right-column {
      float: left;
      margin-bottom: 1em;
    }
    .img-responsive {
      display: block;
      width: 20%;
      min-width: 64px;
      margin: 0 auto;
    }
    .employer-row {
      padding-top: 20px;
      @include zen-clear();

      .top-employer-p-style {
        clear: both;
        margin:0 auto;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
        max-width:380px;
        text-align:center;
        padding: 15px 0;
        color:#bad80a;
        font-size:18px;
        font-weight:200;
      }

      ul.list-row{
        list-style: none;
        margin-top: 2em;
        text-align: center;
        padding: 0;

        li {
          display: block;
          padding: 0;
          color: white;
          font-size: 1.5em;
          line-height: 1.5;
        }
      }
    }
  }
  .panel-location-wrapper {
    background-color: #B3D4FC;
  }
  .panel-location {

    p {
      font-size: 14px;
      color: #003F87;
      font-weight: 200;
    }

    h2 span:first-child {
      color: #0083D6;
    }

    h2 span:last-child {
      color: #003F87;
    }
    .blurb-style {
      padding-right: 5px;
      padding-bottom: 5px;
    }
  }
  .panel-undergrads-wrapper {
    background-color: #003F87;
    padding-bottom: 0;
  }
  .panel-undergrads {
    padding-bottom: 0px;
    margin-bottom: 0px;
    p {
      color: #fff;
    }
    h2 span:first-child {
      color: #bad80a;
    }
    h2 span:last-child {
      color: #fff;
    }
    .undergrad-column-right {
      line-height: 0;
    }
  }
  .panel-students-wrapper {
    background-color: #0083D6;
  }
  .panel-students {
    overflow: hidden;

    h2 span:first-child {
      color: #fff;
    }
    h2 span:last-child {
      color: #002550;
    }
    p {
      color: #fff;
    }
    .slogan {
      text-align: center;
      border-top: solid white 1px;
      border-bottom: solid white 1px;
      font-size: 20px;
    }
    .left-column,
    .center-column,
    .right-column {
      float: left;
      margin-bottom: 1em;

      p {
        text-align: center;
      }
    }
    .img-responsive {
      display: block;
      width: 20%;
      min-width: 64px;
      margin: 0 auto;
    }
    .row2,
    .row3 {
      @include zen-clear();
    }
    .fulbright {
      font-size: 80%;
      min-height: 72px;
      padding: 25px 45px;
      margin: 0 auto;
      margin-top: 40px;
      background: url('../images/front-page/WreathLeft.png') no-repeat 0 50%,
      url('../images/front-page/WreathRight.png') no-repeat 100% 50%;
      text-align: center;
    }
  }
  .panel-get-started-wrapper {
    background-image: url('../images/front-page/GreenWaveBG.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #BBD80A;
  }
  .panel-get-started {
    width: 16em;
    text-align: center;
    margin: 0px auto;

    .panel-heading {
      font-size: 30px;
    }

    .header-text {
      clear: both;
      text-align: left;

      p {
        font-size:30px;
        color:#003f87;
        font-weight:200;
        margin-top: 0;
      }
    }

    .top-row, .bottom-row {
    }

    .custom-buttons {
      display: block;
      width: 100%;
      background-color: #dceb84;
      color: #003f87;
      padding: 1em 0;
      margin-bottom: 1em;
      border: 5px solid #bad80a;
      outline: #fff 3px solid;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .custom-buttons:last-child {
      margin-bottom: 0;
    }

    .custom-buttons:hover,
    .custom-buttons:focus,
    .custom-buttons a:hover,
    .custom-buttons a:focus {
      color:#fff;
      background-color:#003f87;
      text-decoration: none;
    }

    .top-row {
      margin-bottom: 1em;
    }
  }
}




@media all and (min-width: 500px) {
  .panel-value,
  .panel-students {
    .left-column,
    .center-column,
    .right-column {
      float: left;
      margin-bottom: 2em;
    }
    .img-responsive {
      float: left;
      margin-right: 2em;
      width: auto;
    }
    .white-text-row,
    .blue-text-row {
      text-align: left;
    }

  }
}

@media all and (min-width: 600px) {
  .panel-value {
    .employer-row li {
      float: left;
      width: 25%;
    }
  }
  .panel-students {
    .fulbright {
      width:380px;
      font-size: 100%;
    }
  }
}

@media all and (min-width: 700px) {
  .panel-get-started {
    width: 85%;

    .custom-buttons {
      width: 15em;
    }

    .top-row {
      float:left;
    }

    .bottom-row {
      float:right;
    }
  }
}

@media all and (min-width: $display-large) {

  .front .western-header {
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.8);
    border-bottom: 6px solid #0083D6;
  }
  .front .western-header .center-content {
    position: relative;
    height: 60px;
  }
  .front .western-header nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    margin-top: 0;
  }
  .front .western-header .western-quick-links,
  .front .western-header .western-search {
    display: inline-block;
  }
  .video-container {
    overflow: hidden;
  }
  .front .main-nav {
    position: relative;
    top:31px;
    z-index: 1;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -71px;
    min-height: 71px;
    float: none;
  }
  // Styles for the nav menu when it is fixed to the top of the viewport
  .front .region-navigation.fixed-menu-active {
    position: fixed;
    z-index: 1;
    max-width: 1080px;
    width: 100%;
    top: 0;
    margin: 0 auto;
    border-bottom: 7px white solid;
  }
  .frontpage-panel-wrapper > div {
    max-width: 1080px;
    margin: 0 auto;
  }
  .page .center-content {
    max-width: 1080px;
  }


  .panels-grid-wrapper {
    @include zen-grid-container;
    @include zen-grid-item(8,3);
    $display-zen-grid-background: true !default;
  }

  .panel-attention {

    .main-row {
      @include zen-grid-container;
      $zen-column-count: 2;
      $zen-gutter-width: 10%;

      .left-column {
        @include zen-clear();
        @include zen-grid-item(1, 1);
      }
      .right-column {
        @include zen-grid-item(1, 2);
      }
    }
  }


  .panel-value {

    .center-content {

    }

    .column-wrapper {
      @include zen-grid-container;
      $zen-column-count: 3;
      $zen-gutter-width: 10%;
      @include zen-clear();
    }

    .img-responsive {
      float: none;
      margin: 0;
      display: inline;
    }
    .white-text-row,
    .blue-text-row {
      text-align: center;
    }

    .left-column {
      @include zen-grid-item(1, 1);
      text-align: center;
    }

    .center-column {
      @include zen-grid-item(1, 2);
      text-align: center;
    }
    .right-column {
      @include zen-grid-item(1, 3);
      text-align: center;
    }
  }

  .panel-location {
    @include zen-grid-container;
    $zen-column-count: 3;
    $zen-gutter-width: 0;

    .location-column-left {
      @include zen-grid-item(1, 1);
    }
    .location-column-right {
      @include zen-grid-item(2, 2);

      .img-responsive {
        float: right;
      }
    }
  }

  .panel-undergrads {
    @include zen-grid-container;
    $zen-column-count: 2;
    $zen-gutter-width: 0;

    position: relative;
    .undergrad-column-left {
      @include zen-grid-item(1, 1);
    }
    .undergrad-column-right {
      @include zen-grid-item(1,2);
      position: absolute;
      bottom: 0;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }

  .panel-undergrads:before {
    display: block;
    content: " ";
    min-height: 550px;
    width: 50%;
    float: right;
  }



  .panel-students {
    @include zen-clear();

    .column-wrapper {
      margin-top: 2em;
      @include zen-grid-container;
      $zen-column-count: 3;
      $zen-gutter-width: 10%;
      @include zen-clear();
    }

    .left-column,
    .center-column,
    .right-column {
      text-align: center;
    }
    .img-responsive {
      float: none;
      display: inline;
      margin: 0;
    }
    .left-column {
      @include zen-grid-item(1, 1);
    }
    .center-column {
      @include zen-grid-item(1, 2);
    }
    .right-column {
      @include zen-grid-item(1, 3);
    }
  }

  .panel-get-started {
    width: 35em;
  }

} //end media large-display

@media all and (min-width: 975px) {
  .panel-location {
    .location-column-left {
      $zen-column-count: 3;
      $zen-gutter-width: 0;
      @include zen-grid-item(2, 1);
    }
  }

}

@media all and (min-width: 1080px) {
  .panel-get-started {
    width: 100%;
  }

  .panel-get-started {

    .top-row, .bottom-row {
      float: none;
      display: table;
      border-collapse: separate;
      border-spacing: 1em 0;
      width: 100%;
    }

    .custom-buttons {
      display: table-cell;
      width: 25%;
      margin-right: 1em;
    }

    .custom-buttons:last-child {
      margin-right: 0;
    }
  }

}
