/*

  Styles for the personnel content type

 */

@media all
  {

    .node-personnel .field-image {
      margin-bottom: 40px;
      z-index: 5;
      background-color: #F7F7F7;
    }

    .node-personnel .field-label {
      padding-top: 15px;
      padding-bottom: 15px;
      color: #003F87;
      font-size: 18px;
    }

    .node-personnel
    .field-title,
    .field-tr-territories,
    .field-email,
    .field-college-major,
    .field-bio,
    .field-phone {
      padding-top: 15px;
      padding-bottom: 15px;
      }


    .node-personnel .field-title .field-tr-territories ul.inline li  {
      display: block;
    }

    .node-personnel .field-title .field-tr-territories > ul:nth-child(n) {
      list-style-type: disc;
      clear: right;
    }

    .node-personnel span.field-label:nth-child(1) {
      clear: left;
    }


    .field-tr-territories > li:nth-child(n) {
      margin-top: 10px;
      margin-bottom: 10px;
      list-style-type: disc;
      list-style-position: inside;
      display: list-item;
    }

    .node-personnel .field-title {
      font-size: 18px;
      border-bottom: 3px solid #003F87;
      margin-bottom: 20px;
      color: #003F87;
    }

}


