/**
 * @file WYSIWYG Tools Plus custom styles
 */

.acc-head {
  display: block;
  width: 100%;
  margin: 0;
  color: #555;
  text-decoration: none;
}

.acc-head:hover,
.acc-head:active,
.acc-head:focus {
  color: #333;
  text-decoration: none;
}

.acc-head .ready-accordion-header {
  display: block;
  float: none;
  padding: 0.5em 1em;
  padding-left: 22px;
  margin-bottom: 5px;
  background-position: 0.5em 50%;
}

.visit-pages .acc-head .ready-accordion-header {
  color: #003f87;
  font-family: Muli, Verdana;
  font-size: 24px;
}

.ready-accordion-header.collapsed {
  background-color: transparent;
}

.ready-accordion-header.expanded {
  background-color: #E9E9E9;
}

.ready-accordion-header.expanded,
.ready-accordion-header.collapsed {
  float: none;
}

div.ready-accordion {
  float: none;
  width: auto;
  background-color: #E9E9E9;
  padding: 10px;
  margin: 0;
  margin-bottom: 5px;
}
