/**
 * @file
 * Customization for Admissions
 *
 */

@import "base";
@import "compass";
@import "zen";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px

//breakpoints
$display-small: 320px;
$display-medium: 600px;
$display-large: 801px;

//Import the front page partial
@import "front-page";
@import "bellingham";
@import "wysiwyg-tools";
@import "staff-profiles";
@import "student-profiles";

/*
 * All screen sizes
 */

.acc-head {background: #eee;}

/*
 * Meet Your Counselor View Styles
 */

.counselor-title {
    border-bottom: 3px solid #e9e9e9;
}
 
.counselor-title a:link, .counselor-title a:hover, .counselor-title a:visited{
  font-size:24px;
  color:$wwuBlue;
  text-decoration:none;
}

.counselor-type {
  font-size:16px;
  padding-top:5px;
  line-height:100%;
  color:$wwuBlue;
}

.counselor-info {
  padding:10px 10px 5px 0;
  line-height:100%;
}

.counselor-location {
  background-image: url(../images/pin64X64.png);
  background-repeat: no-repeat;
  padding-left:40px;
  margin-left: -5px;
  background-position-y:50%;
}

.counselor-email {
  background-image: url(../images/mail32X32.png);
  background-repeat: no-repeat;
  padding-left:35px;
  background-position-y:50%;
  
}

.counselor-phone {
  background-image: url(../images/phone32X32.png);
  background-repeat: no-repeat;
  padding-left:35px;
  background-position-y:50%;
}

.counselor-background tr, .counselor-background td {
  background-color:transparent;
  border-style:none;
}

/**
 * Screen size: Mobile device
 */
@media all  {
.call-to-action {
  background-color:$wwuLime;
}
.call-to-action-text {
  background-color:$wwuLime;
  margin:0 auto;
  padding:1em 0;
  height:2em;
  width:20em;
  h1 {
    margin:0em;
    font-size:1.4em;
  }
  span {color:#ffffff;}
  a {
    color:$wwuBlue;
    text-transform:uppercase;
  }
}

main {
  margin-top: 0;
}

//removes iCal icon from the Calendar
.ical-icon {
  display: none;
}

/**
 *Tab styles
 */

.quicktabs-tabs.quicktabs-style-nostyle {
  padding: 0;
  border-bottom: 2px solid $wwuBlue;
}

.quicktabs-tabs.quicktabs-style-nostyle li {
  display: inline-block;
  padding: 0;
}

// inactive tabs
.quicktabs-tabs.quicktabs-style-nostyle a {
  display: inline-block;
  background-color: #BFD1E3;
  border-radius: 10px 10px 0 0;
  border: none;
  color: #5472a2;
  line-height: 1;
  padding: 0.75em;
}

.quicktabs-tabs.quicktabs-style-nostyle a:hover,
.quicktabs-tabs.quicktabs-style-nostyle a:focus,
.quicktabs-tabs.quicktabs-style-nostyle a:active {
  text-decoration: none;
}

// active tab
.quicktabs-tabs.quicktabs-style-nostyle li.active a {
  background-color: #1f4383;
  color: white;
  background-clip: padding-box;
}

// Override jQuery ui tabs
//remove default styling for calendar header row
.calendar-calendar thead tr {
    //background:none;
}

//input background for days
.calendar-calendar th.days {
  background-color: #214581;
  color: #fff;
}

span.site-name {
  display: none;
}

.site-name {
  display: block;
  clear: left;
  }

.apply-online-related-links {
  float: right;
  background-color: #CCD9E6;
   padding: 1em 1.5em 1em 0;
  margin:-2em 1em 1em;
  ul > li:first-child{
    list-style: none;
    span {padding-bottom:1em;}
    ul li {list-style: disc;}
    }
  }

/**
 * Quick Facts Category CSS
 */
  .view-quick-facts-columns .view-content .view-grouping {
	display: inline-block;
	background: #FFF;
	margin: 0 2px 15px;
	@include column-break(inside, avoid);
	opacity: 1;
  }
  
  .view-quick-facts-columns .view-content .view-grouping .view-grouping-header {
    min-height:125px;
	border-bottom:3px solid #e9e9e9;
	margin:0px;
  }
  
  .view-quick-facts-columns .view-content .view-grouping .view-grouping-header a {
	   display:none;
  }
  
  .view-quick-facts-columns .view-content .view-grouping .view-grouping-content h3 {
    margin:10px;
	font-size:20px;
	color:$wwuLtblue;
  }
  
  .fact-container {
    list-style-type:none;
	padding:0px 10px 0px 0px;
  }
  
  .fact-container li {
    padding-bottom:10px;
	padding-left:10px;
  }
  
  .fact-container .field-numeric-stat {
    font-size:24px;
	color:$wwuBlue;
  }
   
  .fact-container .field-fact-text {
     line-height:100%;
  }
   
  .category-academics {
     background-image: url(../images/academics.png);
     background-repeat: no-repeat;
	 background-position: 50% 0%;
  }
  
  .category-location{
     background-image: url(../images/location.png);
     background-repeat: no-repeat;
	 background-position: 50% 0%;
  }
   
  .category-enrollment {
     background-image: url(../images/enrollment.png);
     background-repeat: no-repeat;
	 background-position: 50% 0%;
  }
 .category-life {
     background-image: url(../images/student-life.png);
     background-repeat: no-repeat;
	 background-position: 50% 0%;
  }
  
  .category-degrees {
     background-image: url(../images/degrees.png);
     background-repeat: no-repeat;
	 background-position: 50% 0%;
  }
  
  .view-quick-facts-columns .view-content {
    @include column-count(1);
	@include column-width(90%);
	@include column-gap(10px);
	@include column-span(all);
  }

  .node-notification-block .field-body {
     border: 2px solid #bad80a;
     background-color: #fdf3d4;
     padding: 10px;
     margin-bottom: 10px;
     text-align: center;
   }

} // End @media all

/**
 * Apply Now page
 */

.apply-now .pane-title {
  line-height: 1.5;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  margin-top: 0;
  margin-bottom: 1em;
}

.apply-now .panel-pane:last-child {
  margin-bottom: 0;
}

.apply-now-freshman .pane-title {
  border-bottom-color: $wwuLtblue;
}

.apply-now-transfer .pane-title {
  border-bottom-color: $wwuYellow;
}

.apply-now-international .pane-title {
  border-bottom-color: $wwuGreen;
}

.apply-now-returning .pane-title {
  border-bottom-color: $wwuLime;
}

.apply-now-post-bacc .pane-title {
  border-bottom-color: $wwuBlue;
}

.apply-now-extended-ed .pane-title {
  border-bottom-color: $wwuRed;
}

.apply-now-freshman,
.apply-now-transfer,
.apply-now-international,
.apply-now-returning,
.apply-now-post-bacc,
.apply-now-extended-ed {

  a {
    display: block;
    background-color: $wwuLime;
    color: $wwuBlue;
    border-radius: 0.5em;
    padding: 0.75em;
    font-size: 120%;
    line-height: 1;
    transition: all 0.5s ease;
  }

  a:after {
    display: inline;
    content: '>>';
    color: #fff;
    float: right;
  }

  a:hover,
  a:focus {
    background-color: $wwuLtblue;
    color: #fff;
    text-decoration: none;
  }
}

.apply-now-deadlines {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 1em;
}

.apply-now .panel-pane table {
  float: none;
  background-color: #fff;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.apply-now-deadlines {
  min-height: 9.8em;
}

.apply-now-deadlines .pane-title {
  border-bottom: none;
  font-size: 120%;
  line-height: 1;
}

.apply-now-deadlines .node-title {
  font-size: 120%;
  line-height: 1;
  margin-bottom: 1em;
}

.apply-now-deadlines .node-title a {
  color: $wwuBlue;
}

.apply-now-deadlines .node-title a:hover,
.apply-now-deadlines .node-title a:focus,
.apply-now-deadlines .node-title a:active {
  text-decoration: none;
}

.apply-now-deadlines article p {
  margin: 0;
  line-height: 1;
}

.apply-now-learn p {
  margin-left: 1em;
}

.apply-online-related-links {
  background-color: transparent;

  li a {
    margin-right: 1em;
  }

  li span {
    display: block;
    background-color: $wwuLime;
    color: $wwuBlue;
    border-radius: 0.5em;
    padding: 0.75em;
    font-size: 120%;
    line-height: 1;
    transition: all 0.5s ease;
  }

  li span:after {
    display: inline;
    content: '>>';
    color: #fff;
    float: right;
  }

  li span:hover {
    background-color: $wwuLtblue;
    color: #fff;
    text-decoration: none;
  }

}

//Views specific styling
.accomodations-group-by-headings caption {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.75em;
    color:$wwuLtblue;
}

.view-accomodations table td {
  width: 33.3333%;
}

// Views accordion links are ridiculous
html body .page .panel-pane .view .view-content .field-body a {
    color: $wwuLtblue;
    display: inline;
    padding-left: 0;
}

@media all and (min-width: 361px) {

  .view-quick-facts-columns .view-content {
    @include column-count(1);
	@include column-gap(10px);
	@include column-span(all);
  }

}

@media all and (min-width: 767px) {

section.content table {
  width: 100%;
}

}

/**
 * Screen size: Tablet
 */


@media all and (min-width: $display-medium) {

span.site-name {
  display: none;
}

.site-name {
  display: block;
  clear: left;
  }

#edit-search-keys {
    background-position: 100% -85%;
  }

// Meet your counselor view 

  .counselor-image {
    float:left;
	width:40%;
	padding-right:20px;
	padding-bottom:25px;
  }

  .counselor-title {
    float:left;
	width:50%;
  }
  
  .counselor-info {
    float:left;
    width:45%;
  }
  
  .counselor-type {
    float:left;
	width:50%;
  }
  
  .counselor-background td{
    padding:40px 0;
  }

  .view-quick-facts-columns .view-content {
    @include column-count(2);
	@include column-gap(10px);
    @include column-span(all);
  }
   
}

/**
 * Screen size - Desktop
 */

@media all and (min-width: $display-large)  {
  // Use 12 grid columns for larger screens.
  $zen-column-count: 12;

  // Import Admissions Partials
  @import "main-menu";

  // No blue border at the top of the page-break-inside:
  body { border-top:none;}

  //Put a small blue border to separate the call to action
  .call-to-action {
      border-bottom:4px solid $wwuBlue;
  }
    //We want the call to action letters to be biggger on full screens
  .call-to-action-text {
    h1 {
      font-size:28px;
      width:22em;
      }
    }

  .page {
    position: relative;
  }

  .bluebar {
      border-top: 6px solid $wwuLtblue;
      width:100%;
      height: 9px;
      position: absolute;
      top: 60px;
      z-index: 1;
  }

  header {
    position: relative;
  }

  header[role="banner"] > div {
  max-height: 100%;
  background-color: transparent;
  background-image: none;
  border:none;
  box-sizing:none;
  margin: 0;
  }

  .site-header {
    float:none;

    .site-name {
      display: none;
    }
  }
  .site-banner {
      z-index: -2;
      img {
        height:345px;
      }
    }

  section.western-header .site-name {
    color:$wwuBlue;
    position: relative;
    left: 29%;
    top: -113px;
    display:inline;
  }

  .western-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    float: none;
    height: 135px;
    margin: 0;
    box-sizing: content-box;
  }

  .western-header .western-logo {
    display: block;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
  }

  .western-header .western-logo a {
    position: static;
    display: block;
    margin: 0;
    padding: 0;
  }

  section.western-header .site-name {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    float: left;
    clear: none;
    min-width: 0;
    min-height: 0;
    text-align: left;
    padding: 0;
  }

  section.western-header .site-name a {
    line-height: 60px;
  }

  .western-header nav {
    position: absolute;
    display: inline-block;
    width: auto;
    top: 0;
    right: 0;
    margin-right: 10px;
  }

  .western-header .western-quick-links,
  .western-header .western-search {
    display: block;
    float: left;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .western-header .western-quick-links ul {
    margin-right: 1em;
  }

  .western-header .western-quick-links ul li a,
  .western-header .western-quick-links ul li a:before {
    line-height: 60px;
  }

  .western-header .western-search > button {
    top: unset;
    margin-top: 16px;
  }

  .western-header .western-search .western-search-widget {
    top: 100%;
  }


  //Creates two rows from Calendar legend

  #legend {

    $zen-column-count: 12;
    @include zen-grid-container();
    .legend-left-column {
      @include zen-grid-item(3, 1, left);
      float: left;
    }

    .legend-right-column {
      @include zen-grid-item(3, 3);
    }
  }
  
  .view-quick-facts-columns .view-content {
    @include column-count(3);
	@include column-gap(10px);
	@include column-span(all);
  }
  
  .webform-progressbar{
    padding:2em 0 1em;
  }
  
  .wwu-75-percent-right-column {
    padding-left:60px;
	padding-right:60px;
  }
}
