@import "zen";
@import "base";

$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

$gutter: 1.5em;
$display-medium: 800px;

@media all {

}

@media all and (min-width: $display-medium) {

  .row-3x2-grid {
    @include zen-grid-container();
    $zen-column-count: 3;
    $zen-gutter-width: $gutter;
  }
  
  .top-3x2-grid {
    margin-bottom: $gutter;
  }
  
  .bottom-3x2-grid {
    @include zen-clear();
  }
  
  .left-3x2-grid {
    @include zen-grid-item(1, 1);
  }
  
  .center-3x2-grid {
    @include zen-grid-item(1, 2);
  }
  
  .right-3x2-grid {
    @include zen-grid-item(1, 3);
  }
  
}

